
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background-color: #ddd;
    font-family: 'VT323', monospace;
    
}
.top{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

.content{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 6rem;
}
h2{

    font-family: 'VT323', monospace;
    font-size: 2rem;
}

.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.player h1{
    margin-bottom: 0;
    font-size: 4rem;
}

.lives{
    padding: 10px;
    width: 40px;
}
.selection{
    width: 160px;
    height: 160px;
    border: 8px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


input{
    border: none;
    background: none;
    cursor: pointer;
   
}

/* //https://pretagteam.com/question/hover-on-one-div-affect-another */
.show{
    opacity: 0;
}

input:hover .show{
    opacity: 0.5;
}
input:hover{
    opacity: 0.5;
}



.lives-container{
    display: flex;
    width: 300px;
    
}


.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.button-selection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 32vw;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .overlay.active {
    display: flex;
  }

  .endgame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 1%;
    padding-bottom: 80px;
    border-radius: 8px;    
    width: 20%;
    

}
.btn-restart{
    font-size: 32px;
    width: 60%;
    border-radius: 4px;
    padding: 8px;
}

button{
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
  background-color: black;
  color: #fff;
}